<div class="container-fluid p-0">
    <div class="bg-dark pt-5 pb-3 text-white">
        <div class="container">
            <footer>
                <div class="row justify-content-md-between">
                    <div class="col-md-4 col-lg-3 mb-4">
                        <h6 class="">Navigation</h6>
                        <ul class="nav flex-column">
                            <li class="mb-1"><a href="@Url.Action("Index", "Home")" class="text-muted">Home</a></li>
                            <li class="mb-1"><a href="@Url.Action("About", "Home")" class="text-muted">About Us</a></li>
                            <li class="mb-1"><a href="@Url.Action("Education", "Home")" class="text-muted">Developing Habits</a></li>
                            <li class="mb-1"><a href="@Url.Action("MediaPlan", "Home")" class="text-muted">Screen Time Plan</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <h6 class="mb-3">Facts</h6>
                        <ul class="nav flex-column">
                            <li class="mb-1"><a href="@Url.Action("ScreenTime", "Home")" class="text-muted">Screen Usage and Issues</a></li>
                            <li class="mb-1"><a href="@Url.Action("GameTime", "Home")" class="text-muted">Video Game and Bullying</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4 col-lg-3 mb-4">
                        <h6 class="mb-3">Acknowledgement</h6>
                        <ul class="nav flex-column">
                            <li class="mb-1"><a href="@Url.Action("Credits", "Home")" class="text-muted">Credits</a></li>
                        </ul>
                    </div>
                    <div class="col-md-12 col-lg-3 mb-4">
                        <h6 class="mb-3">ScreenOut</h6>
                        <p class="text-muted">ScreenOut is a web platform designed for parents to learn more about issues related to screen time, which have potential influence over a child's whole life.</p>
                    </div>
                </div>
                <div class="row border-top border-white pt-3">
                    <div class="col">
                        &copy; @DateTime.Now.Year ScreenOut | All Rights Reserved
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>
