<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ScreenOut.Team</title>
    <link rel="icon" href="../../img/screenout-logo.png" type="image/gif" sizes="16x16">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="padding-bottom:0px">
    <nav class="navbar navbar-dark navbar-expand-md fixed-top py-3 bg-dark">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                <img src="../../img/screenout-logo.png" width="50" height="30" class="d-inline-block align-top" alt="">
                ScreenOut
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="@(ViewBag.CurrentPage == "Home" ? "nav-item active" : "nav-item")">
                        @Html.ActionLink("Home", "Index", "Home", null, htmlAttributes: new { @class = "nav-link" })
                    </li>

                    <!-- Dropdown -->
                    <li class="@(ViewBag.CurrentPage == "Research" ? "nav-item dropdown active" : "nav-item dropdown")">
                        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            Statistics
                        </a>
                        <div class="dropdown-menu">
                            @Html.ActionLink("Screen usage and issues", "ScreenTime", "Home", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("Game usage and bullying", "GameTime", "Home", null, new { @class = "dropdown-item" })
                        </div>
                    </li>

                    <li class="@(ViewBag.CurrentPage == "Education" ? "nav-item active" : "nav-item")">
                        @Html.ActionLink("Developing habits", "Education", "Home", null, new { @class = "nav-link" })
                    </li>
                    <li class="@(ViewBag.CurrentPage == "MediaPlan" ? "nav-item active" : "nav-item")">
                        @Html.ActionLink("Screen time plan", "MediaPlan", "Home", null, new { @class = "nav-link" })
                    </li>

                    @Html.Partial("_LoginPartial")
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid" style="padding-right: 0px; padding-left: 0px;">
        @RenderBody()


        @Html.Partial("_FooterPartial")
    </div>

    @* Scroll to top button *@
    <a onclick="scrollToTop()" id="scroll-top"><img src="~/img/arrow-up.png" title="Go Top" /></a>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <style>
        .navbar {
            -webkit-transition: padding 0.2s ease;
            -moz-transition: padding 0.2s ease;
            -o-transition: padding 0.2s ease;
            transition: padding 0.2s ease;
        }
        .affix {
            padding-top: 0.2em !important;
            padding-bottom: 0.2em !important;
            -webkit-transition: padding 0.2s linear;
            -moz-transition: padding 0.2s linear;
            -o-transition: padding 0.2s linear;
            transition: padding 0.2s linear;
            background: #273d42;
        }

        section {
            min-height: calc(100% - 70px);
        }

        #scroll-top {
            display: none; /* Hidden by default */
            position: fixed; /* Fixed/sticky position */
            bottom: 20px; /* Place the button at the bottom of the page */
            right: 30px; /* Place the button 30px from the right */
            z-index: 99; /* Make sure it does not overlap */
            cursor: pointer; /* Add a mouse pointer on hover */
        }
    </style>
    <script>
        //Get the scroll-top button
        var scroll_top_button = document.getElementById("scroll-top");
        $(window).scroll(function () {
            /* affix after scrolling 50px */
            if ($(document).scrollTop() > 50) {
                $('.navbar').addClass('affix');
            } else {
                $('.navbar').removeClass('affix');
            }
            // For showing or hiding the scroll top button
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                scroll_top_button.style.display = "block";
            } else {
                scroll_top_button.style.display = "none";
            }
        });
        // When the user clicks on the button, scroll to the top of the document
        function scrollToTop() {
            $('html, body').animate({ scrollTop: 0 }, 1000);
        }
    </script>
</body>
</html>
