@model WebApplication1.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}


    <div class="container pb-3" style="padding-top: 100px;">
        <div class="card form-signin">
            <div class="card-body">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Forgot Password</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group row">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-10">
                            <input type="submit" class="btn btn-primary" value="Reset Password" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
