@using WebApplication1.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<style>
    .validation-summary-errors ul {
        display: inline;
        padding-left: 0;
        list-style: none;
    }
    .visible-icon {
       background-image: url('../../img/visibility-icon.svg');
       width: 20px;
       height: 20px;
    }
    .hidden-icon {
        background-image: url('../../img/hidden-icon.svg');
        width: 20px;
        height: 20px;
    }
</style>

<div class="container" style="padding-top: 50px;">
    <div class="row justify-content-center">
        <div class="col-12 col-md-5 col-xl-4 my-5">
            <!-- Heading -->
            <h3 class="display-4 text-center mb-3 text-primary font-weight-bold">
                Sign in
            </h3>

            <!-- Subheading -->
            <p class="text-muted text-center mb-5">
                to access your dashboard.
            </p>

            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "name@address.com" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            @Html.LabelFor(m => m.Password, new { @class = "" })
                        </div>
                        @*<div class="col-auto">
                                @Html.ActionLink("Forgot password?", "ForgotPassword", null, htmlAttributes: new { @class = "form-text small text-muted" })
                            </div>*@
                    </div>
                    <div class="input-group">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control border-right-0", placeholder = "Enter your password" })
                        <div class="input-group-append">
                            <span class="input-group-text bg-white">
                                <a href="#" id="showpassword-icon" class="visible-icon"></a>
                            </span>
                        </div>
                    </div>
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>

                <input type="submit" value="Sign in" class="btn btn-lg btn-block btn-primary mb-3" />

                <div class="text-center">
                    <small class="text-muted text-center">
                        Don't have an account yet? <a href="@Url.Action("Register")">Sign up</a>.
                    </small>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $("#showpassword-icon").click(function () {
            var password_input = $("#Password");
            if (password_input.attr("type") == "password") {
                password_input.attr("type", "text");
                $(this).removeClass("visibile-icon");
                $(this).addClass("hidden-icon");
            }
            else {
                password_input.attr("type", "password");
                $(this).removeClass("hidden-icon");
                $(this).addClass("visibile-icon");
            }
        });
    </script>
}
