@model WebApplication1.ViewModels.OverviewViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}



@if (ViewBag.PageStatus == "NOCHILD")
{
    <div class="row">
        <div class="col-12">
            <div class="alert alert-info">
                <h3>Notice:</h3>
                <p>You do not have any child under your profile yet. Please add your child information and start tracking.</p>
                @Html.ActionLink("Add Child", "Create", "Children", null, htmlAttributes: new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
}
else if (ViewBag.PageStatus == "NOTRACKING")
{
    <div class="row">
        <div class="col-12">
            <div class="alert alert-info">
                <h3>Notice:</h3>
                <p>There is no tracking record about your child yet. Please add more tracking data.</p>
                @Html.ActionLink("Add Tracking", "Create", "TrackedTimes", null, htmlAttributes: new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
}

@if (ViewBag.PageStatus != "NOCHILD")
{
    <div class="row">
        <div class="col-12">
            <h3 class="text-primary">Overview</h3>
            <hr />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="float-right">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 489.946 489.946" xml:space="preserve" width="48" height="48"><g><g> 	<path d="M334.457,380.978c-56.519,26.61-122.448,26.61-178.967,0c-31.454,25.86-51.517,65.07-51.517,108.968h282   C385.973,446.048,365.911,406.838,334.457,380.978z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#981313" /> 	<path d="M244.973,381c105.21,0,190.5-85.289,190.5-190.5c0-105.21-85.29-190.5-190.5-190.5s-190.5,85.29-190.5,190.5   C54.473,295.711,139.763,381,244.973,381z M74.728,181.21c85.848,16.661,171.467-10.333,231.766-66.733   c19.949,47.023,57.801,85.53,106.374,105.857C398.758,300.274,328.958,361,244.973,361c-94.164,0-170.5-76.335-170.5-170.5   C74.473,187.383,74.562,184.287,74.728,181.21z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#981313" /> 	<circle cx="167.841" cy="213.466" r="20.132" data-original="#000000" class="active-path" data-old_color="#000000" fill="#981313" /> 	<circle cx="322.105" cy="213.466" r="20.132" data-original="#000000" class="active-path" data-old_color="#000000" fill="#981313" /> 	<path d="M244.973,327.446c18.023,0,34.246-7.589,41.331-19.335c2.852-4.729,1.33-10.875-3.398-13.728   c-4.73-2.852-10.876-1.332-13.729,3.398c-2.807,4.655-11.579,9.665-24.204,9.665s-21.397-5.01-24.204-9.665   c-2.853-4.729-8.997-6.253-13.729-3.398c-4.728,2.853-6.25,8.999-3.398,13.728C210.727,319.857,226.95,327.446,244.973,327.446z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#981313" /> </g></g> </svg>
                    </div>
                    <span class="text-info text-uppercase font-weight-bold">Children No</span>
                    <div class="font-weight-bold">@Model.ChildCount</div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="float-right">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="48" height="48" viewBox="0 0 98.666 98.666" xml:space="preserve"><g><g> 	<g> 		<circle cx="49.332" cy="53.557" r="10.297" data-original="#000000" class="active-path" data-old_color="#000000" fill="#981313" /> 		<path d="M53.7,64.556h-8.737c-7.269,0-13.183,5.916-13.183,13.184v10.688l0.027,0.166l0.735,0.229    c6.937,2.168,12.965,2.892,17.927,2.892c9.688,0,15.303-2.764,15.65-2.938l0.688-0.351l0.071,0.002V77.739    C66.883,70.472,60.971,64.556,53.7,64.556z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#981313" /> 		<circle cx="28.312" cy="23.563" r="16.611" data-original="#000000" class="active-path" data-old_color="#000000" fill="#981313" /> 		<path d="M70.35,40.174c9.174,0,16.609-7.44,16.609-16.613c0-9.17-7.438-16.609-16.609-16.609c-9.176,0-16.61,7.437-16.61,16.609    S61.174,40.174,70.35,40.174z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#981313" /> 		<path d="M41.258,62.936c-2.637-2.274-4.314-5.632-4.314-9.378c0-4.594,2.519-8.604,6.243-10.743    c-2.425-0.965-5.061-1.511-7.826-1.511H21.266C9.54,41.303,0,50.847,0,62.571v17.241l0.043,0.269L1.23,80.45    c10.982,3.432,20.542,4.613,28.458,4.656v-7.367C29.688,70.595,34.623,64.599,41.258,62.936z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#981313" /> 		<path d="M77.398,41.303H63.305c-2.765,0-5.398,0.546-7.824,1.511c3.727,2.139,6.246,6.147,6.246,10.743    c0,3.744-1.678,7.102-4.313,9.376c2.656,0.661,5.101,2.02,7.088,4.008c2.888,2.89,4.479,6.726,4.478,10.8v7.365    c7.916-0.043,17.477-1.225,28.457-4.656l1.187-0.369l0.044-0.269V62.571C98.664,50.847,89.124,41.303,77.398,41.303z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#981313" /> 	</g> </g></g> </svg>
                    </div>
                    <span class="text-info text-uppercase font-weight-bold">Avg Family Time</span>
                    <div class="font-weight-bold">@Model.GetAvgFamilyTimeString() per day</div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="float-right">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 33.994 33.994" xml:space="preserve" width="48" height="48"><path d="M27.125,0H6.867C5.59,0,4.562,1.033,4.562,2.309v29.377c0,1.272,1.028,2.308,2.305,2.308h20.258   c1.273,0,2.306-1.035,2.306-2.308V2.309C29.433,1.033,28.399,0,27.125,0z M16.997,33.129c-0.758,0-1.371-0.613-1.371-1.37   c0-0.758,0.613-1.372,1.371-1.372c0.756,0,1.371,0.614,1.371,1.372C18.368,32.516,17.753,33.129,16.997,33.129z M27.098,29.186   H6.896V2.774h20.202V29.186z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#981313" /></svg>
                    </div>
                    <span class="text-info text-uppercase font-weight-bold">Avg Screen Time</span>
                    <div class="font-weight-bold">@Model.GetAvgScreenTimeString() per day</div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="float-right">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48" height="48" viewBox="0 0 512.007 512.007" xml:space="preserve"> <g transform="translate(-1)"> 	<g transform="translate(1 7)"> 		<g> 			<circle style="fill:#424242;" cx="85.34" cy="419.67" r="76.8" /> <circle style="fill:#424242;" cx="426.673" cy="419.67" r="76.8" /> 		</g> 		<g> 			<path style="fill:#9E9E9E;" d="M136.54,419.67c0.02,28.062-15.3,53.891-39.936,67.328c-11.28,6.247-23.97,9.507-36.864,9.472 				c-4.723,0.009-9.436-0.42-14.08-1.28c-28.07-14.733-45.652-43.819-45.652-75.52s17.582-60.787,45.652-75.52 				c4.644-0.861,9.357-1.289,14.08-1.28c12.894-0.035,25.584,3.225,36.864,9.472C121.24,365.779,136.56,391.608,136.54,419.67z" /> 			<path style="fill:#9E9E9E;" d="M477.873,419.67c0,28.034-15.275,53.841-39.851,67.328h-0.085 				c-15.531,8.517-33.526,11.41-50.944,8.192c-28.07-14.733-45.652-43.819-45.652-75.52s17.582-60.787,45.652-75.52 				c4.644-0.861,9.357-1.289,14.08-1.28c12.894-0.035,25.584,3.225,36.864,9.472h0.085 				C462.599,365.829,477.874,391.636,477.873,419.67z" /> 		</g> 		<path style="fill:#FDD834;" d="M162.14,103.937c0,28.277-22.923,51.2-51.2,51.2c-4.317-0.013-8.616-0.558-12.8-1.621 			c-22.605-5.815-38.406-26.195-38.406-49.536S75.535,60.258,98.14,54.443c4.172-1.134,8.477-1.708,12.8-1.707 			C139.217,52.737,162.14,75.66,162.14,103.937z" /> 		<path style="fill:#FFEB3A;" d="M136.54,103.937c-0.055,23.329-15.826,43.691-38.4,49.579 			c-22.605-5.815-38.406-26.195-38.406-49.536S75.535,60.258,98.14,54.443C120.717,60.273,136.503,80.62,136.54,103.937z" /> 		<circle style="fill:#424242;" cx="256.007" cy="419.67" r="25.6" /> 	</g> 	<g> 		<path d="M513.007,426.67c0.051-28.329-13.985-54.83-37.448-70.704s-53.284-19.045-79.561-8.459l-56.653-108.57h45.662 			c4.713,0,8.533-3.821,8.533-8.533s-3.82-8.533-8.533-8.533h-45.662c-5.969-0.001-11.505,3.117-14.598,8.222 			c-3.093,5.105-3.295,11.455-0.531,16.746l13.687,26.231H177.288l-9.958-17.067h21.41c4.713,0,8.533-3.82,8.533-8.533 			s-3.82-8.533-8.533-8.533h-59.733c-4.713,0-8.533,3.82-8.533,8.533s3.821,8.533,8.533,8.533h18.569l14.797,25.361l-42.803,66.714 			c-39.73-16.867-85.798-1.379-107.268,36.065S0.735,469.169,35.362,494.937H9.54c-4.713,0-8.533,3.821-8.533,8.533 			c0,4.713,3.821,8.533,8.533,8.533h494.933c4.713,0,8.533-3.821,8.533-8.533c0-4.713-3.82-8.533-8.533-8.533h-25.822 			C500.244,478.886,512.981,453.575,513.007,426.67z M335.189,290.137l-67.413,104.218c-6.053-2.045-12.56-2.34-18.773-0.853 			c-0.427,0.102-0.802,0.307-1.22,0.427l-60.544-103.791H335.189z M242.449,417.77c2.349-3.866,6.147-6.632,10.547-7.68 			c1.313-0.319,2.659-0.482,4.011-0.486c7.762,0.007,14.541,5.251,16.499,12.762c1.958,7.511-1.399,15.397-8.17,19.192 			c-6.771,3.795-15.249,2.544-20.635-3.045c-5.386-5.589-6.321-14.109-2.278-20.734L242.449,417.77z M172.032,297.919 			l61.013,104.585c-4.46,4.211-7.57,9.652-8.934,15.633h-52.907c-2.534-25-15.959-47.612-36.693-61.807L172.032,297.919z 			 M154.018,418.137H94.873l30.43-47.428C141.153,381.744,151.586,398.977,154.018,418.137z M18.073,426.67 			c0.042-37.685,30.582-68.224,68.267-68.267c8.131,0.014,16.193,1.494,23.799,4.369l-29.585,46.08 			c-3.394,5.235-3.661,11.906-0.696,17.396c2.965,5.49,8.69,8.924,14.929,8.955h59.23c-4.698,35.577-36.14,61.443-71.956,59.195 			C46.246,492.15,18.286,462.556,18.073,426.67z M137.318,494.937c19.186-14.271,31.494-35.945,33.92-59.733h52.77 			c3.862,15.043,17.408,25.571,32.939,25.6c2.717-0.004,5.423-0.327,8.064-0.964c11.796-2.744,21.231-11.573,24.752-23.16 			c3.52-11.588,0.591-24.173-7.685-33.015l68.651-106.095l30.165,57.822c-23.293,15.219-37.674,40.865-38.511,68.677 			s11.976,54.276,34.312,70.868H137.318z M359.407,426.67c0.012-22.373,10.998-43.318,29.397-56.047l31.3,59.998 			c2.182,4.18,7.34,5.8,11.52,3.618c4.18-2.182,5.8-7.34,3.618-11.52l-31.3-59.972c7.586-2.858,15.624-4.329,23.731-4.343 			c37.703,0,68.267,30.564,68.267,68.267s-30.564,68.267-68.267,68.267S359.407,464.373,359.407,426.67z" /> 		<path d="M111.94,170.67c32.99,0,59.733-26.744,59.733-59.733S144.93,51.203,111.94,51.203s-59.733,26.744-59.733,59.733 			C52.249,143.909,78.968,170.628,111.94,170.67z M111.94,68.27c23.564,0,42.667,19.103,42.667,42.667s-19.103,42.667-42.667,42.667 			s-42.667-19.103-42.667-42.667C69.302,87.384,88.388,68.298,111.94,68.27z" /> 		<path d="M120.473,25.603V8.537c0-4.713-3.821-8.533-8.533-8.533c-4.713,0-8.533,3.821-8.533,8.533v17.067 			c0,4.713,3.821,8.533,8.533,8.533C116.653,34.137,120.473,30.316,120.473,25.603z" /> 		<path d="M69.273,45.571c3.047-0.003,5.861-1.631,7.384-4.27c1.522-2.64,1.521-5.891-0.002-8.53l-8.533-14.788 			c-2.372-4.047-7.566-5.42-11.628-3.074s-5.47,7.53-3.151,11.608l8.533,14.788C63.401,43.948,66.222,45.574,69.273,45.571z" /> 		<path d="M42.308,60.88L27.52,52.347c-4.078-2.318-9.262-0.911-11.608,3.151s-0.972,9.256,3.074,11.628l14.788,8.533 			c4.078,2.318,9.262,0.911,11.608-3.151C47.728,68.446,46.355,63.253,42.308,60.88z" /> 		<path d="M1.007,110.937c0,4.713,3.821,8.533,8.533,8.533h17.067c4.713,0,8.533-3.821,8.533-8.533c0-4.713-3.821-8.533-8.533-8.533 			H9.54C4.827,102.403,1.007,106.224,1.007,110.937z" /> 		<path d="M33.775,146.214l-14.788,8.533c-2.662,1.513-4.309,4.337-4.316,7.399c-0.007,3.062,1.628,5.893,4.283,7.418 			c2.655,1.525,5.924,1.511,8.566-0.038l14.788-8.533c2.662-1.513,4.309-4.337,4.316-7.399c0.007-3.062-1.628-5.893-4.283-7.418 			C39.685,144.65,36.416,144.665,33.775,146.214z" /> 		<path d="M61.884,180.569l-8.533,14.788c-1.549,2.642-1.563,5.911-0.038,8.566c1.525,2.655,4.356,4.29,7.418,4.283 			c3.062-0.007,5.886-1.654,7.399-4.316l8.533-14.788c2.318-4.078,0.911-9.262-3.151-11.608 			C69.45,175.149,64.256,176.522,61.884,180.569z" /> 		<path d="M103.407,196.27v17.067c0,4.713,3.821,8.533,8.533,8.533c4.713,0,8.533-3.821,8.533-8.533V196.27 			c0-4.713-3.821-8.533-8.533-8.533C107.227,187.737,103.407,191.557,103.407,196.27z" /> 		<path d="M150.34,177.446c-4.081,2.356-5.48,7.575-3.123,11.657l8.533,14.788c1.513,2.662,4.337,4.309,7.399,4.316 			c3.062,0.007,5.893-1.628,7.418-4.283c1.525-2.655,1.511-5.924-0.038-8.566l-8.533-14.788 			C159.64,176.488,154.421,175.089,150.34,177.446z" /> 		<path d="M181.572,160.993l14.788,8.533c1.296,0.752,2.768,1.147,4.267,1.143c3.862,0,7.243-2.594,8.242-6.325 			s-0.631-7.667-3.976-9.598l-14.788-8.533c-4.078-2.318-9.262-0.911-11.608,3.151C176.152,153.427,177.525,158.621,181.572,160.993 			z" /> 		<path d="M188.74,110.937c0,4.713,3.821,8.533,8.533,8.533h17.067c4.713,0,8.533-3.821,8.533-8.533 			c0-4.713-3.821-8.533-8.533-8.533h-17.067C192.561,102.403,188.74,106.224,188.74,110.937z" /> 		<path d="M196.36,52.347l-14.788,8.533c-2.662,1.513-4.309,4.337-4.316,7.399c-0.007,3.062,1.628,5.893,4.283,7.418 			c2.655,1.525,5.924,1.511,8.566-0.038l14.788-8.533c2.662-1.513,4.309-4.337,4.316-7.399c0.007-3.062-1.628-5.893-4.283-7.418 			C202.271,50.784,199.002,50.798,196.36,52.347z" /> 		<path d="M154.607,45.571c3.052,0.003,5.873-1.624,7.398-4.267l8.533-14.788c1.549-2.642,1.563-5.911,0.038-8.566 			s-4.356-4.29-7.418-4.283c-3.062,0.007-5.886,1.654-7.399,4.316l-8.533,14.788c-1.524,2.639-1.524,5.89-0.002,8.53 			C148.745,43.941,151.56,45.568,154.607,45.571z" /> 	</g> </g> </svg>
                    </div>
                    <span class="text-info text-uppercase font-weight-bold">Activities</span>
                    <div class="font-weight-bold">10</div>
                </div>
            </div>
        </div>
    </div>
}

@if (ViewBag.PageStatus == "WITHTRACKING")
{
    <div class="row">
        <div class="col-12">
            <h3 class="text-primary">Family Time vs Screen Time</h3>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="card-title">
                        <h5>Weekday vs Weekend</h5>
                        <hr />
                    </div>
                    <div id="WeekNameSummaryChart" style="min-height: 300px;"></div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="card-title">
                        <h5>Avg Family Time and Screen Time by Month</h5>
                        <hr />
                    </div>
                    <div id="MonthNameSummaryChart" style="min-height: 300px;"></div>
                </div>
            </div>
        </div>
    </div>
}


@if (ViewBag.PageStatus == "WITHTRACKING")
{
    @section Scripts {
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript">
        // Load the Visualization API and the corechart package.
        google.charts.load('current', { 'packages': ['corechart'] });
        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawTrackedTime);

        window.onresize = function () {
            drawTrackedTime();
        }

        function getTrackedDataSummary() {
            var data;
            $.ajax({
                url: "@Url.Action("GetTrackedDataSummary", "Dashboard")",
                contentType: "application/json; charset=utf-8",
                type: 'GET',
                cache: false,
                async: false,
                success: function (result) {
                    data = result;
                }
            });
            return data;
        }

        function drawTrackedTime() {
            var allData = getTrackedDataSummary();
            var weekNameSummary = new google.visualization.DataTable();
            weekNameSummary.addColumn('string', "Week Name");
            weekNameSummary.addColumn('number', "Family Time");
            weekNameSummary.addColumn('number', "Screen Time");

            allData.WeekSummary.forEach(function (d) {
                weekNameSummary.addRow([
                    d.WeekName,
                    d.AvgFamilyTime,
                    d.AvgScreenTime
                ]);
            });

            var monthNameSummary = new google.visualization.DataTable();
            monthNameSummary.addColumn('string', "Month Name");
            monthNameSummary.addColumn('number', "Family Time");
            monthNameSummary.addColumn('number', "Screen Time");

            allData.MonthSummary.forEach(function (d) {
                monthNameSummary.addRow([
                    d.MonthName,
                    d.AvgFamilyTime,
                    d.AvgScreenTime
                ]);
            });

            // Set chart options
            var options = {
                fontName: 'Verdana',
                curveType: 'function',
                colors: ["#457aff", "#d7475f"],
                chartArea: { left: 50, top: 20, width: '90%', height: '80%' },
                legend: { position: 'in', alignment: 'end' },
                vAxis: {
                    title: "Daily Avg (Hour)",
                    titleTextStyle: { italic: false },
                    minValue: 0,
                    gridlines: { color: 'f6f6f6' },
                    minorGridlines: { color: 'white' }
                },
                hAxis: {
                    title: "",
                    gridlines: { color: 'white' }
                }
            };
            var weekNameChart = new google.visualization.ColumnChart(document.getElementById('WeekNameSummaryChart'));
            weekNameChart.draw(weekNameSummary, options);

            var monthNameChart = new google.visualization.ColumnChart(document.getElementById('MonthNameSummaryChart'));
            monthNameChart.draw(monthNameSummary, options);
        }
        </script>
    }
}
