@model WebApplication1.Models.TrackedTime

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TrackedTime</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Child.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Child.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrackedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrackedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScreenTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScreenTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScreenTimeGoal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScreenTimeGoal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
